.detail {
    margin: {
        top: 30px;
    }
    padding-top: 20px;
    border-top: 1px solid #d8d8d8;

    &__map {
        background: #333;
    }

    &__info {
        padding-left: 22px;

        table {
            width: 100%;

            th,
            td {
                text-align: left;
                color: #4b4b4d;
            }
        }
    }
}
