@import
    'partials/normalize';

* {
    box-sizing: border-box;

    &::after,
    &::before {
        content: '';
        clear: both;
        display: block;
        visibility: hidden;
    }
}
