@import
    'partials/normalize',
    url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
    box-sizing: border-box;

    &::after,
    &::before {
        content: '';
        clear: both;
        display: block;
        visibility: hidden;
    }
}

html,
body {
    font-family: 'Roboto', sans-serif;
}
